@import ".../../../../styles/colors.scss";

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100vw;
  width: 100%;
  height: 300px;
  background-image: url(../../assets//images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  .title-theme-container {
    display: flex;
    justify-content: space-between;
    max-width: 35rem;
    width: 100%;
    margin-bottom: 5rem;

    h1 {
      font-size: 3rem;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 700;
      letter-spacing: 10px;
      color: #fff;
    }
  }

  .themeToggle {
    height: 1.5rem;
    width: 1.5rem;
    background-image: url(../../assets//images/icon-sun.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
}

.headerLight {
  @extend .header;
  background-image: url(../../assets/images/bg-desktop-light.jpg);

  .themeToggle {
      background-image: url(../../assets/images/icon-moon.svg)
  }
}

@media (max-width: 425px) {
  .header {
    max-width: 100vw;
    width: 100%;
    background-image: url(../../assets/images/bg-mobile-dark.jpg);
    background-position: center;

    .title-theme-container {
      display: flex;
      justify-content: space-between;
      max-width: 350px;
      width: 100%;
      margin-bottom: 5rem;
    }
  }

  .headerLight {
    background-image: url(../../assets/images/bg-mobile-light.jpg);
  }
}